# Data Types And Structures

1. What are data structures, and why are they important?

    Data structures are ways of organizing and storing data so that it can be accessed and modified efficiently. They are important because they provide efficient ways to perform various operations such as searching, inserting, deleting, and updating data. Examples include arrays, lists, stacks, queues, trees, and graphs. Good data structures improve performance, reduce complexity, and optimize resource usage in algorithms.

2. Explain the difference between mutable and immutable data types with examples.

    Mutable data types are those whose values can be changed after they are created. For example, lists and dictionaries are mutable in Python. You can modify, add, or remove elements from them.
    
    Immutable data types are those whose values cannot be changed after they are created. Strings, tuples, and integers are examples of immutable types in Python.

3. What are the main differences between lists and tuples in Python?

    Lists are mutable, meaning their elements can be modified after creation.

    Tuples are immutable, meaning once created, their elements cannot be changed.

    Lists are defined using square brackets ([]), while tuples are defined using parentheses (()).

    Lists have more built-in methods (like append(), remove()) compared to tuples.

4. Describe how dictionaries store data.

    Dictionaries in Python store data in key-value pairs. They use a hash table internally to store and retrieve the data, allowing for fast lookups. The keys must be unique and immutable (e.g., strings, numbers), while the values can be any data type (mutable or immutable).

5. Why might you use a set instead of a list in Python?

    A set is an unordered collection of unique elements. We might use a set instead of a list when:

    We want to ensure that all elements are unique.

    We need fast membership testing (in keyword).

    We do not care about the order of the elements.

    Sets are typically faster for operations like checking if an element exists in the collection.

6. What is a string in Python, and how is it different from a list?

    A string in Python is an immutable sequence of characters. Unlike lists, strings cannot be modified after they are created. Strings are used to represent textual data, while lists can store collections of items (which can be of any data type).

    Strings are indexed by characters.

    Lists are indexed by elements (which can be of mixed types).

7. How do tuples ensure data integrity in Python?

    Tuples ensure data integrity because they are immutable. Once a tuple is created, its contents cannot be modified, meaning the data within the tuple remains unchanged. This feature makes tuples ideal for scenarios where data integrity and protection from accidental changes are critical.

8. What is a hash table, and how does it relate to dictionaries in Python?

    A hash table is a data structure that maps keys to values using a hash function to compute an index into an array of buckets or slots. In Python, dictionaries are implemented using hash tables, allowing fast access to values based on their unique keys. The key is hashed, and the hash value determines where the corresponding value is stored.

9. Can lists contain different data types in Python.

    Yes, lists in Python can contain elements of different data types. For example, a list can store integers, strings, and even other lists:

    my_list = [1, "hello", 3.14, [1, 2, 3]]

10. Explain why strings are immutable in Python.

    Strings are immutable in Python for performance reasons. Immutability allows Python to optimize memory usage and makes strings safer to use in multithreading environments. Since strings are immutable, they can be stored and shared safely without worrying about unintended modifications.

11. What advantages do dictionaries offer over lists for certain tasks?

    Faster lookups: Dictionaries use hash tables, so accessing elements by key is faster (O(1) time complexity) compared to lists (O(n) for searching).

    Unique keys: Dictionaries provide a natural way to store and retrieve data based on unique identifiers (keys), which is useful for tasks like counting or mapping relationships.

12. How do sets handle duplicate values in Python?

    Sets automatically remove duplicate values. If you try to add an element that already exists in a set, it will not be added again. This ensures that sets only contain unique elements.

13. Describe a scenario where using a tuple would be preferable over a list.

    Tuples are preferable when the data is constant and you want to ensure its integrity. For example, when representing fixed coordinates (latitude, longitude), using a tuple makes sense because the values should not change.

    coordinates = (40.7128, -74.0060)  # A tuple representing coordinates

14. How does the “in” keyword work differently for lists and dictionaries?

    In lists, the in keyword checks if an element exists in the list by iterating through each item.

    In dictionaries, the in keyword checks if a key exists in the dictionary, which is faster due to the use of hash tables.

    my_list = [1, 2, 3]
    print(2 in my_list)  # True

    my_dict = {"a": 1, "b": 2}
    print("b" in my_dict)  # True

15. Can you modify the elements of a tuple? Explain why or why not?

    No, we cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its elements cannot be altered, which ensures that the data stored in the tuple remains constant throughout the program.

    my_tuple = (1, 2, 3)
    my_tuple[0] = 10  # This would raise a TypeError

16.  What is a nested dictionary, and give an example of its use case.

    A nested dictionary is a dictionary where the value of a key is another dictionary. It is useful when you need to store more complex, hierarchical data.

    students = {
    "John": {"age": 20, "grade": "A"},
    "Jane": {"age": 22, "grade": "B"}
    }
    This structure can be used to store data about students, where each student has a dictionary with their personal information.

17. Describe the time complexity of accessing elements in a dictionary?

    The time complexity of accessing an element in a dictionary by key is O(1) on average, thanks to the underlying hash table implementation. This makes dictionary lookups very fast, even for large datasets.

18. In what situations are lists preferred over dictionaries?

    Lists are preferred over dictionaries when:

    The order of elements matters.

    We need to store a sequence of values that can be indexed by numbers.

    We do not need to map values to unique keys, but just need an ordered collection of items.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

    Dictionaries in Python are considered unordered because their keys are stored in a hash table, which does not guarantee a specific order of items. In Python 3.7 and above, dictionaries maintain insertion order, but this is an implementation detail. For unordered collections, data retrieval by key remains fast, but the order of elements is not predictable.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

    Lists store elements in an ordered sequence and use index-based retrieval. You access list elements using their position (index).

    my_list = [10, 20, 30]
    print(my_list[1])  # Access by index

    Dictionaries store data in key-value pairs and use key-based retrieval. You access dictionary values using their unique key.

    my_dict = {"a": 1, "b": 2}
    print(my_dict["a"])  # Access by key

# Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print it.

# Create a string with my name
my_name = "Mahir Ashaq Bhat"

# Print the string
print(my_name)

Mahir Ashaq Bhat

In [2]:
# 2. Write a code to find the length of the string "Hello World"

 # Define the string
my_string = "Hello World"

# Find the length of the string
length = len(my_string)

# Print the length
print("The length of the string is:", length)

The length of the string is: 11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

 # Define the string
my_string = "PWSkills is the waste of time"

# Slice the first 3 characters
sliced_string = my_string[:3]

# Print the sliced string
print("The first 3 characters are:", sliced_string)

The first 3 characters are: PWS

In [5]:
# 4. Write a code to convert the string "hello" to uppercase.

 # Define the string
my_string = "hello"

# Convert the string to uppercase
uppercase_string = my_string.upper()

# Print the uppercase string
print("The string in uppercase is:", uppercase_string)

The string in uppercase is: HELLO

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

 # Define the string
my_string = "I like apple"

# Replace the word "apple" with "orange"
updated_string = my_string.replace("apple", "orange")

# Print the updated string
print("Updated string:", updated_string)

Updated string: I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.


# Create the list with numbers 1 to 5
my_list = [1, 2, 3, 4, 5]

# Print the list
print("The list is:", my_list)

The list is: [1, 2, 3, 4, 5]

In [9]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

 # Define the list
my_list = [1, 2, 3, 4]

# Append the number 10 to the list
my_list.append(10)

# Print the updated list
print("Updated list:", my_list)

Updated list: [1, 2, 3, 4, 10]

In [12]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

 # Define the list
my_list = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
my_list.remove(3)

# Print the updated list
print("Updated list:", my_list)

Updated list: [1, 2, 4, 5]

In [13]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

 # Define the list
my_list = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = my_list[1]

# Print the second element
print("The second element is:", second_element)

The second element is: b

In [14]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

 # Define the list
my_list = [10, 20, 30, 40, 50]

# Reverse the list
my_list.reverse()

# Print the reversed list
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [15]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

 # Create the tuple
my_tuple = (100, 200, 300)

# Print the tuple
print("The tuple is:", my_tuple)

The tuple is: (100, 200, 300)

In [16]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

 # Define the tuple
my_tuple = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_to_last = my_tuple[-2]

# Print the second-to-last element
print("The second-to-last element is:", second_to_last)

The second-to-last element is: blue

In [17]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

 # Define the tuple
my_tuple = (10, 20, 5, 15)

# Find the minimum number in the tuple
min_number = min(my_tuple)

# Print the minimum number
print("The minimum number is:", min_number)

The minimum number is: 5

In [18]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

 # Define the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Print the index of "cat"
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

In [21]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

 # Create the tuple with three different fruits
fruits_tuple = ('apple', 'banana', 'cherry')

# Check if "kiwi" is in the tuple
is_kiwi_in_tuple = 'kiwi' in fruits_tuple

# Print the result
print("Is 'kiwi' in the tuple?", is_kiwi_in_tuple)

Is 'kiwi' in the tuple? False

In [22]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

 # Create the set with elements 'a', 'b', 'c'
my_set = {'a', 'b', 'c'}

# Print the set
print("The set is:", my_set)

The set is: {'b', 'a', 'c'}

In [23]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

 # Create the set with elements 1, 2, 3, 4, 5
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the set after clearing
print("The set after clearing:", my_set)

The set after clearing: set()

In [24]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

 # Create the set with elements 1, 2, 3, 4
my_set = {1, 2, 3, 4}

# Remove the element 4 from the set
my_set.remove(4)

# Print the set after removing the element
print("The set after removing 4:", my_set)

The set after removing 4: {1, 2, 3}

In [25]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

 # Define the two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets
union_set = set1.union(set2)

# Print the union of the sets
print("The union of the two sets is:", union_set)

The union of the two sets is: {1, 2, 3, 4, 5}

In [26]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

 # Define the two sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the two sets
intersection_set = set1.intersection(set2)

# Print the intersection of the sets
print("The intersection of the two sets is:", intersection_set)

The intersection of the two sets is: {2, 3}

In [27]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

 # Creating the dictionary
person = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}

# Printing the dictionary
print(person)

{'name': 'John Doe', 'age': 30, 'city': 'New York'}

In [28]:
# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}. result.(replaced)

 # Existing dictionary
person = {'name': 'John', 'age': 25}

# Adding a new key-value pair
person["country"] = "USA"

# Printing the updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [29]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

 # Dictionary
person = {'name': 'Alice', 'age': 30}

# Accessing the value associated with the key "name"
name_value = person["name"]

# Printing the value
print(name_value)

Alice

In [30]:
# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

 # Dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Removing the key "age"
del person["age"]

# Printing the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

In [37]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

 # Dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Checking if the key "city" exists in the dictionary
if "city" in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [36]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

 # Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = (10, 20, 30, 40)

# Creating a dictionary
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

# Printing the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40)
Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

In [39]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

# Creating a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sorting the list in ascending order
random_numbers.sort()

# Printing the sorted list
print("Sorted List:", random_numbers)

Sorted List: [12, 60, 64, 88, 97]

In [33]:
# 28.Write a code to create a list with strings and print the element at the third index.

 # Creating a list with strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Printing the element at the third index (4th element)
print("Element at index 3:", my_list[3])

Element at index 3: date

In [32]:
# 29. Write a code to combine two dictionaries into one and print the result.

 # Creating two dictionaries
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combining the dictionaries
combined_dict = {**dict1, **dict2}

# Printing the combined dictionary
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

In [31]:
# 30. Write a code to convert a list of strings into a set.

 # Creating a list of strings
my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Converting the list to a set (removes duplicates)
my_set = set(my_list)

# Printing the set
print("Converted Set:", my_set)

Converted Set: {'banana', 'apple', 'cherry'}